/* position
1. static
2. relative
3. absolute
4. fixed
*/

body {
    /* background-color:red; */
}

.navbar {
    margin: 20px;
    position: relative;
}

#about {
    position: fixed;
    top: 20px;
    left: 20px;
}

#btn {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}